<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Something went wrong</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/error.css') }}" >
    </head>
    <head>
        <div class="container">  
            <form id="contact" action="" method="post">
                <fieldset>
                    {% for element in data %}
                    <p>{{ element }} </p>
                    {% endfor %}
                </fieldset>
                <fieldset>
                    <a href="{{ url_for('index') }}" style = "text-decoration:none;" class = "Selection">Change selection</a>
                </fieldset>
            </form>
        </div> 
    </head>
</html>